<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>101529714537-reqqp7pf14u1oi7jlle049sc1b3ftff3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101529714537-reqqp7pf14u1oi7jlle049sc1b3ftff3</string>
	<key>API_KEY</key>
	<string>AIzaSyAVU6RNZ1Cs9x8ijyQ8Gd9XeQPRIqg1evU</string>
	<key>GCM_SENDER_ID</key>
	<string>101529714537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SpotView</string>
	<key>PROJECT_ID</key>
	<string>spotview-4c49c</string>
	<key>STORAGE_BUCKET</key>
	<string>spotview-4c49c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:101529714537:ios:eb7ee66582c7d761</string>
	<key>DATABASE_URL</key>
	<string>https://spotview-4c49c.firebaseio.com</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>This application needs access to your location information</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This application needs access to your location information</string>
</dict>
</plist>
